body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.container-fluid {
  background-color: #040404;
  color: #fff;
  padding: 20px;
  width: 80%;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 80%;
}

form {
  margin: 0;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="radio"] {
  margin: 4px 0px 0px;
  border-color: #040404;
  border-width: 2px;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sub {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sub:hover {
  background-color: #0056b3;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
  color: orange;
}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
